@import url('https://fonts.googleapis.com/css2?family=Anta&family=Concert+One&family=Fugaz+One&family=Gruppo&family=Limelight&family=Squada+One&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Tomorrow', sans-serif;
    text-align: center;
    padding: 2px 2%;
    max-width: 100%;
}

header img {
    width: 130px;
}

header h1 {
    font-family: 'Fugaz One', sans-serif;
    color: #0e3b7c;
    font-size: 3rem;
    margin: 0;
}

.login-btn {
    background-color: #1e4679;
    color: white;
    padding: 8px 3px;
    border-radius: 6px;
    font-size: 0.7rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: bold;
}

.login-btn img {
    width: 20px;
    height: 20px;
}
